In [118]:
import numpy as np
%matplotlib inline
import pandas as pd

In [135]:
titles = pd.read_csv('titles.csv')
cast=pd.read_csv('cast.csv')
rel_dates=pd.read_csv("release_dates.csv")
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [103]:
print("total no of movies under title collumn:",titles['title'].count())

total no of movies under title collumn: 244914

244914 movies

### What are the earliest two films listed in the titles dataframe?

In [105]:
print(" the earliest two films listed in the titles dataframe:",titles.nsmallest(2,['year']))

 the earliest two films listed in the titles dataframe:                      title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [108]:
x=titles[titles.title=='Hamlet'].count()
print("the number of movies with tilte hamlet is: ",x)

the number of movies with tilte hamlet is:  title    20
year     20
dtype: int64

In [30]:
titles[titles.title=='Hamlet'].count()

title    20
year     20
dtype: int64

### How many movies are titled "North by Northwest"?

In [111]:
y=titles[titles.title=='North by Northwest']

In [32]:
titles[titles.title=='North by Northwest'].count()

title    1
year     1
dtype: int64

### When was the first movie titled "Hamlet" made?

In [120]:
titles[titles.title=='Hamlet'].sort_values('year').iloc[0,1]

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [121]:
titles[titles.title=='Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [173]:
titles[titles['year']==1950].shape[0]

1113

### How many movies were made in the year 1960?

In [174]:
len(titles[titles['year']==1960])

1549

### In what years has a movie titled "Batman" been released?

In [130]:
years=titles[titles.title=="Batman"]
years

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [141]:
len(cast[cast.title=='Inception'])

78

How many roles in the movie "Inception" are NOT ranked by an "n" values?

In [143]:
x=cast[cast.title=='Inception']
y=x[x.n.isnull()]
len(y)

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [144]:
z=cast[cast.title=='Inception']
c=z[z.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [171]:
z=cast[cast.title=="North by Northwest"]
x=a[a.n.notnull()]
x

          title  year           name   type    character    n
326774   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1293634  Sleuth  2007       Jude Law  actor         Milo  2.0
1805907  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [146]:
cast[(cast.title=="Sleuth")&(cast.year==1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [170]:
s=cast[(cast.title=="Sleuth")& (cast.year==2007)].sort_values('n')
a=s[s.n.notnull()]
a

          title  year           name   type    character    n
326774   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1293634  Sleuth  2007       Jude Law  actor         Milo  2.0
1805907  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [148]:
len(cast[(cast.title=='Hamlet')&(cast.year==1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [149]:
len(cast[(cast.title=='Hamlet')&(cast.year==1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [150]:
len(cast[(cast.title=='Hamlet')])

342

### How many people have played an "Ophelia"?

In [151]:
cast.head(1)

            title  year      name   type character     n
0  Closet Monster  2015  Buffy #1  actor   Buffy 4  31.0

In [152]:
len(cast[cast.character=="Ophelia"])

117

### How many people have played a role called "The Dude"?

In [153]:
len(cast[cast.character=="The Dude"])

19

### How many people have played a role called "The Stranger"?

In [154]:
len(cast[cast.character=="The Stranger"])

212

### How many roles has Sidney Poitier played throughout his career?

In [155]:
len(cast[cast.name=="Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [156]:
len(cast[cast.name=="Judi Dench"])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [157]:
cast[(cast.name=="Cary Grant")&(cast.n==2)&(cast.year<=1940)].sort_values('year')

,title,year,name,type,character,n
871418,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
871454,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
871446,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
871412,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
871436,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
871393,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
871455,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
871440,Sylvia Scarlett,1935,Cary Grant,actor,Jimmy Monkley,2.0
871401,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
871465,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
871463,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
871464,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
871443,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
871453,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
871459,Topper,1937,Cary Grant,actor,George Kerby,2.0
871408,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
871394,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
871413,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [160]:
cast[(cast.name=="Cary Grant")&(cast.n==1)&(cast.year<=1940)].sort_values('year')

,title,year,name,type,character,n
871409,Hot Saturday,1932,Cary Grant,actor,Romer Sheffield,1.0
871404,Gambling Ship,1933,Cary Grant,actor,Ace Corbin,1.0
871415,Kiss and Make-Up,1934,Cary Grant,actor,Dr. Maurice Lamar,1.0
871417,Ladies Should Listen,1934,Cary Grant,actor,Julian De Lussac,1.0
871449,The Last Outpost,1935,Cary Grant,actor,Michael Andrews,1.0
871391,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0
871442,The Amazing Quest of Ernest Bliss,1936,Cary Grant,actor,Ernest Bliss,1.0
871406,Gunga Din,1939,Cary Grant,actor,Cutter,1.0
871431,Only Angels Have Wings,1939,Cary Grant,actor,Geoff Carter,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

### How many roles were available for actors in the 1950s?

In [161]:
len(cast[(cast.type=='actor')&(cast.year==1950)])

16760

### How many roles were available for actresses in the 1950s?

In [163]:
cast[(cast.type=='actress')&(cast.year<1960)&(cast.year>=1950)].character.count()

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [164]:
len(cast[(cast.n==1)&(cast.year<=1980)])

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [165]:
len(cast[(cast.n!=1)&(cast.year<=1980)])

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [166]:
len(cast[(cast.n.isna())&(cast.year<=1980)])

448347