# Hypothesis 1 :

TO check ages of sample and population are same or different.

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dataset=pd.read_csv('general_data.csv')

In [11]:
ages_mean=np.mean(dataset.Age)
print(ages_mean)

36.923809523809524

# one sample T test

In [13]:
#taking sample of ages and computing a mean
#to check weather there is difference between sample mean and population mean
#alternate hypothesis says that there is difference and null hypothesis says no difference
sample_size=10
age_sample=np.random.choice(dataset.Age,sample_size)

In [14]:
age_sample

array([39, 32, 42, 51, 36, 36, 30, 26, 51, 34], dtype=int64)

In [19]:
#one sample hypothesis is to compute p value
from scipy.stats import ttest_1samp
ttest,p_value=ttest_1samp(age_sample,36)
print(p_value)

0.5340270730264365

In [20]:
if p_value<0.05:
    print("we are rejecting null hypothesis")#it means there is difference in sample and population
    #mean
else:
    print("we are accepting null hypothesis")#it means there is no difference

we are accepting null hypothesis

# Hypothesis 2:

The average age of employee in a company is 35 with standard deviation 10.A researcher
believes that if age is less than 35 there is higher attrition rate.Taking a sample of 50 employee with average being 37 and level of significance is 0.05.

# Hypothesis 3:

 #Null Hypothesis:

The mean age of an employee who as attrited is found to be 33 with standard deviation of 9.67. 
3Alternative hypothesis:

The mean age of an employee who as attrited is not equal to 33. To determine if this is true, a sample of 25 attrited employees was taken and their mean age was found to be 30.

# Hypothesis 4:


##Null Hypothesis:
The mean monthly income of attrited employees was found to be Rs.61,000 with a standard deviation of 44792.

##Alternative Hypothesis:

The monthly income of attrited employees is not Rs.61000.
To determine if this is true, a sample of 25 attrited employees was taken and their mean monthly income was found to be Rs.48,185.

# Hypothesis 5:

#Null Hypothesis:
The mean monthly income of attrited employees was found to be Rs.49,016 with a standard deviation of 32033.

#Alternative Hypothesis:

The monthly income of attrited employees is not Rs.49,016
To determine if this is true, a sample of 30 attrited employees was taken and their mean monthly income was found to be Rs.17995.

# Hypothesis 6:

Null Hypothesis:
The mean monthly income of attrited employees was found to be Rs.64595 with a standard deviation of 50430.
Alternative Hypothesis:
The monthly income of attrited employees is not Rs.64595
To determine if this is true, a sample of 40 attrited employees was taken .

# Hypothesis 7:


#Null Hypothesis:
The mean PercentSalary Hike of attrited employees was found to be 16. with a standard deviation of 3.

#Alternative Hypothesis:
The monthly income of attrited employees is not 16
To determine if this is true, a sample of 25 attrited employees was taken .

# Hypothesis 8:

#Null Hypothesis:
The minimum monthly income of attrited employees was found to be Rs.12740. with a standard deviation of 41161.

#alternative Hypothesis:
The minimum monthly income of attrited employees is not Rs.12740
To determine if this is true, a sample of 25 attrited employees was taken .

# Hypothesis 9:


#Null Hypothesis:
The minimum monthly income of attrited employees was found to be Rs.21740. with a standard deviation of 50430.
#Alternative Hypothesis:
The minimum monthly income of attrited employees is not Rs.21740
To determine if this is true, a sample of 40 attrited employees was taken .

# Hypothesis 10:

#Null Hypothesis:
The maximum monthly income of attrited employees was found to be Rs.198590. with a standard deviation of 50430.
#Alternative Hypothesis:
The minimum monthly income of attrited employees is not Rs.198590.
To determine if this is true, a sample of 40 attrited employees was taken .